<% layout("layouts/boilerplate") -%>
<body>
    <h3>All Packages</h3>
    <!-- <form method="GET" action="/listings/new" >
        <button>Create new </button>
    </form> -->
    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-lg-3"> 
    <% for(let listing of allListings) { %> 
    <a href="/listings/<%= listing._id %>" class="listing-link"> 
    <div class="card" > 
        <!-- style="width: 20rem;" Also add in cards-->
        <img src="<%= listing.image %>" class="card-img-top" alt="listing-image" style="height: 20rem;" >
        <!-- Overlay for image -->
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="lead card-text">
            <b><%= listing.title %></b> <br>
            &#8377; <%= listing.price.toLocaleString("en-IN") %>/Day
          </p>
        </div>
      </div>
    </a>
      <% } %> 
    </div>
</body>

    <!-- <ul>
      <% for(let listing of allListings) { %>
      <li><a href="/listings/<%= listing._id %>"> <%= listing.title %> </a></li>
      <% } %>
    </ul>
  </body> -->
