<% layout("layouts/boilerplate") -%>
  <div class="lead row mt-3">
    <div class="col-8 offset-2">
      <h3 class="lead">Listing Details:</h3>
    </div>
    <div class="card col-6 offset-2">
      <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing_image"  / >
      <div class="card-body">
        <p class="card-text">
          <b>
            <%= listing.title %>
          </b> <br>
          <%= listing.title %> <br>
            &#8377; <%= listing.price.toLocaleString("en-IN") %> <br>
              <%= listing.location %> <br>
                <%= listing.country %> <br>
        </p>
      </div>
    </div>

    <div class="btns">
      <a href="/listings/<%= listing._id %>/edit" class="btn edit-btn col-1 offset-2">Edit</a>
      <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
        <!-- <button class="btn btn-dark offset-4">Book</button> -->
        <button class="btn btn-dark offset-4">Delete</button>
      </form>
      <a href="/book" class="offset-5"><button class="btn btn-primary offset-4">Book</button></a>
    </div>


  </div>